{{ define "main" }}

<div class="banner" style="background-image: url('{{ .Params.banner }}')">
  <h1>{{ .Params.Title }}</h1>
  <img class="logo" src="img/logo-whitebg.svg">
</div>
<div class="geometry" style="background-image: url('img/ristikko.svg')">
</div>
<div class="text-container">
  {{ range ((where .Site.Pages "Section" "lista-tiedoista").ByParam "rank") }}
  <div>
    <h2 id="{{ .Params.rank }}">{{ .Params.Title }}</h2>
    {{ if .Params.banner }}
    <img src='{{ .Params.banner }}' class="image-container">
    {{ end }}
    {{ .Content | markdownify }}
  </div>
  {{ end }}
</div>

{{end}}
