{{ define "main" }}

<div class="banner" style="background-image: url('{{ .Params.banner }}')">
  <h1>{{ .Params.Title }}</h1>
</div>
<div class="geometry" style="background-image: url('img/ristikko.svg')">
</div>
<div class="text-container">
{{ range ((where .Site.Pages "Section" "lista-palveluista").ByParam "rank") }}
    <div>
      {{ if .Params.banner }}
      <img src='{{ .Params.banner }}' class="image-container">
      {{ end }}
        {{ .Content | markdownify }}
    </div>
{{ end }}
</div>

{{end}}
