$white-color: #fff;
$blue-color: #8195A2;
$blue-color-transparent: #8195A280;
$brown-color: #785F4B;
$brown-color-transparent: #785F4B60;
$gray-color: #333;

@mixin gradient {
  background: #8195A2;
  background: linear-gradient(to bottom, $blue-color-transparent 0%, $white-color 100%);
}

@mixin clip-bottom {
  -webkit-clip-path: inset(0 0 72px 0);
  clip-path: inset(0 0 72px 0);
}

@mixin clip-top {
  -webkit-clip-path: inset(72px 0 0 0);
  clip-path: inset(72px 0 0 0);
}


html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  text-align: left;
  color: $gray-color;
}

a {
  color: $brown-color;

  &:hover {
    color: $blue-color;
  }
}

h2 {
  color: $brown-color;
  font-size: 1.5em;
  padding-top: 24px;
  margin-bottom: 1rem;
}

#map {
  margin: 24px 0 0 0;
  min-height: 196px;
}

@media (max-width: 991px) {
  #map {
    margin: 24px 15px 0 15px;
  }
}

.gradientcontainer {
  @include gradient;
}

.maincontainer {
  background: $white-color;
  height: 100%;
}

.logo {
  width: 100%;
  margin: 16px 0;
}

.banner {
  position: relative;
  width: calc(100% + 30px);
  margin: 0px -15px 16px -15px;
  background: center no-repeat;
  background-size: cover;
  min-height: 300px;
  border-bottom: solid 0.25em $blue-color;

  img {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 232px;
    width: 200px;
  }

  h1 {
    padding-top: 2em;
    text-align: center;
    color: $white-color;
    font-weight: 700;
    font-style: italic;
    text-shadow: 0 0 9px $gray-color;
  }
}

.geometry {
  width: calc(100% + 30px);
  height: 72px;
  margin: -16px -15px 0 -15px;
  background: center no-repeat;
  background-size: cover;
}

.text-container {
  width: 80%;
  max-width: 700px;
  margin: 24px auto 48px auto;
}

.desktop-nav {
  text-align: center;
  .nav-link {
    padding: 15px;
    font-size: 1.2em;
    font-weight: 700;
    &:hover {
      background: $blue-color;
      color: $white-color
    }
  }
  .active {
    background: $blue-color;
    color: $white-color
  }
  .sub-nav {
    .sub-nav-item {
        line-height: 42px;
        padding: 12px;
        font-weight: 700;
        color: $blue-color;
        &:hover {
          text-decoration: none;
          background: $blue-color;
          color: $white-color
        }
    }
  }
}

footer {

  height: calc(100% - 72px);

  .footer-inner {
    border-bottom: solid 0.25em $blue-color;
    border-top: solid 0.25em $blue-color;
    margin: 0 -15px;

    .text-container {
      margin: auto;

      .col-md-6 {
        margin: 24px auto
      }
    }
  }

  .geometry-top {
    height: 72px;
    width: calc(100% + 30px);
    margin: 0 -15px;
    background: center no-repeat;
    background-size: cover;
  }

  .geometry-bottom {
    height: 72px;
    width: calc(100% + 30px);
    margin: 0 -15px;
    background: center no-repeat;
    background-size: cover;
  }
}

.image-container {
  width: 50%;
  float: right;
  margin: 0 0 24px 24px;
}

@media (min-width: 768px) {
  .navbar, .hidden-on-desktop {
    display: none;
  }
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }
  .desktop-nav {
    display: none;
  }
  .navbar {
    background-color: #fff;
    border-bottom: 1px solid $blue-color;
    .navbar-nav {
      .nav-item {
        border-top: 1px solid $blue-color-transparent;
        .nav-link {
          padding: 20px 0;
          color: $brown-color;
          text-align: center;
        }
        .dropdown-item {
          padding: 15px 0;
          color: $blue-color;
          text-align: center;
        }
      }
      .nav-item:first-of-type {
        border: 0;
      }
    }
    .dropdown-menu {
      border: 0;
    }
  }
  .banner {
    margin-top: 50px;
  }
  .image-container {
    width: 100%;
  }
}
