$white-color: #fff;
$blue-color: #8195A2;
$brown-color: #785F4B;
$gray-color: #333;

@mixin gradient {
  background: #8195A2;
  background: -moz-linear-gradient(top, $blue-color 0%, $white-color 100%);
  background: -webkit-linear-gradient(top, $blue-color 0%, $white-color 100%);
  background: linear-gradient(to bottom, $blue-color 0%, $white-color 100%);
}

@mixin clip {
  -webkit-clip-path: inset(0 0 72px 0);
  clip-path: inset(0 0 72px 0);
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  text-align: left;
  color: $gray-color;
}

a {
  color: $brown-color;

  &:hover {
    color: $blue-color;
  }
}

h2 {
  font-size: 1.5em;
  padding-top: 24px;
}

.gradientcontainer {
  @include gradient;
}
.maincontainer {
  background: $white-color;
  height: 100%;
}

.logo {
  width: 100%;
  margin: 16px 0;
}

.banner {
  width: calc(100% + 30px);
  margin: 16px -15px;
  background: center no-repeat;
  background-size: cover;
  min-height: 300px;
  border-bottom: solid 0.25em $blue-color;

  h1 {
    padding-top: 2em;
    text-align: center;
    color: $white-color;
    font-weight: 700;
    font-style: italic;
  }
}

.geometry {
  @include clip;
  width: calc(100% + 30px);
  height: 144px;
  margin: -16px -15px;
  background: center no-repeat;
  background-size: cover;
}

.nav-item {
  width: 25%;
}

.text-container {
  width: 80%;
  max-width: 700px;
  margin: 0 auto 48px auto;
}

.desktop-nav {
  text-align: center;
  .nav-link {
    color: $brown-color;
    font-size: 1.2em;
    font-weight: 700;
    &:hover {
      background: $blue-color;
      color: $white-color
    }
  }
}
